<div class="page__markdown" id="example">
  <div class="markdown">
    <h2 class="heading heading--level-2 heading--align-center markdown__title">JSON API Documentation</h2>
    <div id="markdown__box" class="markdown__box">
      <pre class="markdown__json"><%= curl%></pre>
      <pre class="markdown__json">
        {
          "whoisrecord": {
            "createddate": <span class="text--green text--no-wrap">"1997-09-15t00:00:00-0700"</span>,
            "updateddate": <span class="text--green text--no-wrap">"2015-06-12t10:38:52-0700"</span>,
            "expiresdate": <span class="text--green text--no-wrap">"2020-09-13t21:00:00-0700"</span>,
            "registrant": {
              "name": <span class="text--green text--no-wrap">"dns admin"</span>,
              "organization": <span class="text--green text--no-wrap">"google inc."</span>,
              "street1": <span class="text--green">"please contact contact-admin@google.com, 1600 amphitheatre parkway"</span>,
              "city": <span class="text--green text--no-wrap">"mountain view"</span>,
              "state": <span class="text--green text--no-wrap">"ca"</span>,
              "postalcode": <span class="text--green text--no-wrap">"94043"</span>,
              "country": <span class="text--green text--no-wrap">"united states"</span>,
              "email": <span class="text--green text--no-wrap">"dns-admin@google.com"</span>,
              "telephone": <span class="text--green text--no-wrap">"16502530000"</span>,
              "fax": <span class="text--green text--no-wrap">"16506188571"</span>,
              "rawtext": <span class="text--green">"registrant name: dns admin\nregistrant organization: google inc.\nregistrant street: 1600 amphitheatre | parkway\nregistrant city: mountain view\nregistrant state/province: ca\nregistrant postal code: 94043\nregistrant country: | us\nregistrant phone: +1.6502530000\nregistrant fax: +1.6506188571\nregistrant email: dns-admin@google.com"</span>
            },
            "administrativecontact": {
              "name": <span class="text--green text--no-wrap">"dns admin"</span>,
              "organization": <span class="text--green text--no-wrap">"google inc."</span>,
              "street1": <span class="text--green">"1600 amphitheatre parkway"</span>,
              "city": <span class="text--green text--no-wrap">"mountain view"</span>,
              "state": <span class="text--green text--no-wrap">"ca"</span>,
              "postalcode": <span class="text--green text--no-wrap">"94043"</span>,
              "country": <span class="text--green text--no-wrap">"united states"</span>,
              "email": <span class="text--green text--no-wrap">"dns-admin@google.com"</span>,
              "telephone": <span class="text--green text--no-wrap">"16506234000"</span>,
              "fax": <span class="text--green text--no-wrap">"16506188571"</span>,
              "rawtext": <span class="text--green">"admin name: dns admin\nadmin organization: google inc.\nadmin street: 1600 amphitheatre parkway\nadmin city: mountain | view\nadmin state/province: ca\nadmin postal code: 94043\nadmin country: us\nadmin phone: +1.6506234000\nadmin fax: | +1.6506188571\nadmin email: dns-admin@google.com"</span>
            }
          }
        }
      </pre>
    </div>
    <button id="js-expand" data-target="markdown__box" type="button" class="markdown__expand-button">Expand code</button>
  </div>
</div>
