<div class="container">
  <div class="page__title">
    <h1 class="heading heading--level-1">WHOIS Search Tool</h1>
  </div>
  <div class="page__description">
    <p class="text">Powerful way to search domain name registration records. Real providing date, easy integration
      and formatting record as you want.</p>
  </div>
  <div class="page__form">
    <form action="/" method="GET" accept-charset="utf-8" id="show-form" class="search-form">
      <input type="text" name="request" id="show-request" value="" class="search-form__input"
        placeholder="For example: google.com, 8.8.8.8">
      <button type="submit" class="search-form__button">Get WHOIS now</button>
    </form>
  </div>
  <div class="page__skeep-link">
    <a class="link link--skeep link--contained" href="#example">
      <img class="link--skeep__icon" src="/images/arrow_down.svg" alt="move json example" />
      Learn more
    </a>
  </div>
  <div class="page__advantages">
    <div class="advantages">
      <div class="advantages__item advantage">
        <div class="advantage__icon"><img src="/images/advantage_1.svg" alt="Real providing data"></div>
        <div class="advantage__title">Real providing data</div>
        <div class="advantage__text">Get key data points for domains including Registrant name, organization,
          e-mail address, registration address, registrar information, creation date, expiration date, updated
          date, domain availability, domain age, and much more.</div>
      </div>
      <div class="advantages__item advantage">
        <div class="advantage__icon"><img src="/images/advantage_2.svg" alt="Easy integration and formatting">
        </div>
        <div class="advantage__title">Easy integration and formatting</div>
        <div class="advantage__text">All the Whois information is well parsed and normalized to a consistent
          format for easy integration with your business processes. The query results with both parsed fields
          and raw texts are returned in popular XML &amp; JSON format.</div>
      </div>
    </div>
  </div>
  <div class="page__markdown" id="example">
    <div class="markdown">
      <h2 class="heading heading--level-2 heading--align-center markdown__title">JSON API Documentation</h2>
      <div id="markdown__box" class="markdown__box">
        <pre class="markdown__json">curl https:&#x2F;&#x2F;getwhois.io&#x2F;google.com&#x2F;json</pre>
        <pre class="markdown__json">
          {
            "WhoisRecord": {
              "createdDate": <span class="text--green text--no-wrap">"1997-09-15T00:00:00-0700"</span>,
              "updatedDate": <span class="text--green text--no-wrap">"2015-06-12T10:38:52-0700"</span>,
              "expiresDate": <span class="text--green text--no-wrap">"2020-09-13T21:00:00-0700"</span>,
              "registrant": {
                "name": <span class="text--green text--no-wrap">"Dns Admin"</span>,
                "organization": <span class="text--green text--no-wrap">"Google Inc."</span>,
                "street1": <span class="text--green">"Please contact contact-admin@google.com, 1600 Amphitheatre Parkway"</span>,
                "city": <span class="text--green text--no-wrap">"Mountain View"</span>,
                "state": <span class="text--green text--no-wrap">"CA"</span>,
                "postalCode": <span class="text--green text--no-wrap">"94043"</span>,
                "country": <span class="text--green text--no-wrap">"UNITED STATES"</span>,
                "email": <span class="text--green text--no-wrap">"dns-admin@google.com"</span>,
                "telephone": <span class="text--green text--no-wrap">"16502530000"</span>,
                "fax": <span class="text--green text--no-wrap">"16506188571"</span>,
                "rawText": <span class="text--green">"Registrant Name: Dns Admin\nRegistrant Organization: Google Inc.\nRegistrant Street: 1600 Amphitheatre | Parkway\nRegistrant City: Mountain View\nRegistrant State/Province: CA\nRegistrant Postal Code: 94043\nRegistrant Country: | US\nRegistrant Phone: +1.6502530000\nRegistrant Fax: +1.6506188571\nRegistrant Email: dns-admin@google.com"</span>
              },
              "administrativeContact": {
                "name": <span class="text--green text--no-wrap">"DNS Admin"</span>,
                "organization": <span class="text--green text--no-wrap">"Google Inc."</span>,
                "street1": <span class="text--green">"1600 Amphitheatre Parkway"</span>,
                "city": <span class="text--green text--no-wrap">"Mountain View"</span>,
                "state": <span class="text--green text--no-wrap">"CA"</span>,
                "postalCode": <span class="text--green text--no-wrap">"94043"</span>,
                "country": <span class="text--green text--no-wrap">"UNITED STATES"</span>,
                "email": <span class="text--green text--no-wrap">"dns-admin@google.com"</span>,
                "telephone": <span class="text--green text--no-wrap">"16506234000"</span>,
                "fax": <span class="text--green text--no-wrap">"16506188571"</span>,
                "rawText": <span class="text--green">"Admin Name: DNS Admin\nAdmin Organization: Google Inc.\nAdmin Street: 1600 Amphitheatre Parkway\nAdmin City: Mountain | View\nAdmin State/Province: CA\nAdmin Postal Code: 94043\nAdmin Country: US\nAdmin Phone: +1.6506234000\nAdmin Fax: | +1.6506188571\nAdmin Email: dns-admin@google.com"</span>
              }
            }
          }
        </pre>
      </div>
      <button id="js-expand" data-target="markdown__box" type="button" class="markdown__expand-button">Expand code</button>
    </div>
  </div>
</div>
