<div class="page__form-full">
  <form class="search-form">
    <input class="search-form__input" method="GET" type="search" placeholder="For example: google.com, 8.8.8.8">
    <button class="search-form__button" name="request" type="submit">Get WHOIS now</button>
  </form>
</div>
<p class="text text--medium">Whois Record for</p>
<div class="page__title">
  <h1 class="heading heading--level-1">Google.com</h1>
</div>
<div class="page__result">
  <div class="result">
    <div class="result__dates">
      <div class="result-date">
        <div class="result-date__title">Created on</div>
        <div class="result-date__value">1997-09-15</div>
      </div>
      <div class="result-date">
        <div class="result-date__title">Expires on</div>
        <div class="result-date__value">2020-09-13</div>
      </div>
      <div class="result-date">
        <div class="result-date__title">Updated on</div>
        <div class="result-date__value">2018-02-21</div>
      </div>
      <div class="result-date">
        <a class="result-date__link" href="#">Full history<img class="result-date__link-icon" src="/images/arrow_right.svg" alt="See full history"></a>
      </div>
    </div>
    <div class="result__tabs">
      <div class="tabs">
        <div class="tabs__tablist" role="tablist">
          <button class="tabs__tab js-tab" type="button" role="tab" aria-selected="true" aria-controls="tabpanel-record">Whois Record</button>
          <button class="tabs__tab js-tab" type="button" role="tab" aria-selected="false" aria-controls="tabpanel-raw">Raw text</button>
        </div>
        <div class="tabs__panel" id="tabpanel-record" role="tabpanel" aria-labelledby="Whois Record">
          <div class="row">
            <div class="column">
              <ul class="list-table">
                <p class="list-table__title">REGISTRATION INFORMATION:</p>
                <li class="list-table__item">
                  <div class="list-table__item-title">Name:</div>
                  <div class="list-table__item-text">Domain Administrator</div>
                </li>
                <li class="list-table__item">
                  <div class="list-table__item-title">Organization:</div>
                  <div class="list-table__item-text">Google LLC</div>
                </li>
                <li class="list-table__item">
                  <div class="list-table__item-title">Address:</div>
                  <div class="list-table__item-text">Address: 1600 Amphitheatre Parkway, Mountain View, CA 94043 UNITED STATES</div>
                </li>
                <li class="list-table__item">
                  <div class="list-table__item-title">Email:</div>
                  <div class="list-table__item-text">dns-admin@google.com</div>
                </li>
                <li class="list-table__item">
                  <div class="list-table__item-title">Phone:</div>
                  <div class="list-table__item-text">16502530000</div>
                </li>
              </ul>
            </div>
            <div class="column">
              <ul class="list-table">
                <p class="list-table__title">TECH CONTACT:</p>
                <li class="list-table__item">
                  <div class="list-table__item-title">Name:</div>
                  <div class="list-table__item-text">Domain Administrator</div>
                </li>
                <li class="list-table__item">
                  <div class="list-table__item-title">Organization:</div>
                  <div class="list-table__item-text">Google LLC</div>
                </li>
                <li class="list-table__item">
                  <div class="list-table__item-title">Address:</div>
                  <div class="list-table__item-text">Address: 1600 Amphitheatre Parkway, Mountain View, CA 94043 UNITED STATES</div>
                </li>
                <li class="list-table__item">
                  <div class="list-table__item-title">Email:</div>
                  <div class="list-table__item-text">dns-admin@google.com</div>
                </li>
                <li class="list-table__item">
                  <div class="list-table__item-title">Phone:</div>
                  <div class="list-table__item-text">16502530000</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tabs__panel" id="tabpanel-raw" role="tabpanel" aria-labelledby="Raw text" style="display: none"></div>
      </div>
    </div>
    <div class="result__table">
      <div class="row row--equal">
        <div class="column">
          <ul class="list-table">
            <p class="list-table__title">A</p>
            <li class="list-table__item">Google Inc.</li>
            <li class="list-table__item">172.217.7.174 (56 records)</li>
          </ul>
        </div>
        <div class="column">
          <ul class="list-table">
            <p class="list-table__title">AAAA</p>
            <li class="list-table__item">Google Inc.</li>
            <li class="list-table__item">2607:F8B0:4004:800::200E (33 records)</li>
          </ul>
        </div>
      </div>
      <div class="row row--equal">
        <div class="column">
          <ul class="list-table">
            <p class="list-table__title">MX</p>
            <li class="list-table__item">Google Inc.</li>
            <li class="list-table__item">50 alt4.aspmx.l.google.com (2,440,808 records)</li>
            <li class="list-table__item">40 alt3.aspmx.l.google.com (2,509,161 records)</li>
            <li class="list-table__item">30 alt2.aspmx.l.google.com (7,769,561 records)</li>
            <li class="list-table__item">20 alt1.aspmx.l.google.com (7,842,428 records)</li>
            <li class="list-table__item">10 aspmx.l.google.com (8,066,764 records)</li>
          </ul>
        </div>
        <div class="column">
          <ul class="list-table">
            <p class="list-table__title">NS</p>
            <li class="list-table__item">Google Inc.</li>
            <li class="list-table__item">ns4.google.com (3,829 records)</li>
            <li class="list-table__item">ns3.google.com (3,877 records)</li>
            <li class="list-table__item">ns2.google.com (6,968 records)</li>
            <li class="list-table__item">ns1.google.com (6,974 records)</li>
          </ul>
        </div>
      </div>
      <div class="row row--equal">
        <div class="column">
          <ul class="list-table">
            <p class="list-table__title">SAP</p>
            <li class="list-table__item">ttl: 900</li>
            <li class="list-table__item">email: dns-admin@google.com</li>
          </ul>
        </div>
        <div class="column">
          <ul class="list-table">
            <p class="list-table__title">TXT</p>
            <li class="list-table__item">v=spf1 include:_spf.google.com ~all</li>
            <li class="list-table__item">docusign=05958488-4752-4ef2-95eb-aa7ba8a3bd0e</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
