html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0
}
main {
  display: block
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
hr {
  overflow: visible;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent
}
abbr[ title ] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  border-bottom: none;
}
b, strong {
  font-weight: bolder
}
code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%
}
sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none;
  max-width: 100%;
  height: auto;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}
button, input {
  overflow: visible
}
button, select {
  text-transform: none
}
button, [ type="button" ], [ type="reset" ], [ type="submit" ] {
  -webkit-appearance: button
}
button::-moz-focus-inner, [ type="button" ]::-moz-focus-inner, [ type="reset" ]::-moz-focus-inner, [ type="submit" ]::-moz-focus-inner {
  padding: 0;
  border-style: none
}
button:-moz-focusring, [ type="button" ]:-moz-focusring, [ type="reset" ]:-moz-focusring, [ type="submit" ]:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  padding: 0;
  display: table;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  white-space: normal;
  color: inherit;
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[ type="checkbox" ], [ type="radio" ] {
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
[ type="number" ]::-webkit-inner-spin-button, [ type="number" ]::-webkit-outer-spin-button {
  height: auto
}
[ type="search" ] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}
[ type="search" ]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
details {
  display: block
}
summary {
  display: list-item
}
template {
  display: none
}
[ hidden ] {
  display: none
}
.advantages__item + .advantages__item {
  margin-top: 4rem;
}
.advantage {
  display: block;
  width: 100%;
}
.advantage__icon {
  margin-bottom: 1.875rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.advantage__title {
  margin: 0 0 1.5rem;
  font-family: Metropolis-medium;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.67;
  color: #ffffff;
}
.advantage__text {
  margin: 0;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: .9375rem;
  padding-left: .9375rem;
  max-width: 23.75rem;
}
.container--no-padding {
  padding: 0;
}
.footer {
  padding-top: 2.5rem;
  padding-bottom: 4rem;
}
.footer__container {
  max-width: 16rem;
}
.footer__copy {
  padding-top: 2.9375rem;
  text-align: left;
}
.footer__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.dnsperf {
  width: 6.25rem;
}
.cdnperf {
  width: 6.25rem;
}
.jsdelivr {
  width: 5rem;
}
.perfops {
  width: 4.625rem;
}
.search-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.search-form__input {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  height: 3.75rem;
  font-family: Metropolis-medium;
  font-size: .875rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #484762;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  border: 0;
  -webkit-border-radius: .25rem;
          border-radius: .25rem;
}
.search-form__button {
  margin-top: 1rem;
  padding-top: 1.375rem;
  padding-right: 1.125rem;
  padding-bottom: 1.375rem;
  padding-left: 1.125rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1;
  color: #fff;
  background-color: #e1365f;
  background-image: -o-linear-gradient(198deg, #f76262, #e1365f);
  background-image: linear-gradient(252deg, #f76262, #e1365f);
  border: 0;
  -webkit-border-radius: .25rem;
          border-radius: .25rem;
}
.header {
  padding-top: 2.5rem;
  padding-bottom: .625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.heading {
  font-family: Metropolis-bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.heading--level-1 {
  margin: 0 0 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.heading--level-2 {
  margin: 1em 0;
  font-family: Metropolis-medium;
  font-size: 1.25rem;
  font-weight: 500;
}
.heading--align-center {
  text-align: center;
}
.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon--placeholder {
  width: 3.125rem;
  height: 3.125rem;
  background-color: rgba(255, 255, 255, .3);
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.row--align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.row--justify-space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.row--justify-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.row--equal > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
}
.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.link {
  text-decoration: none;
}
.link--contained {
  position: relative;
  z-index: 1;
  padding: .8125rem 1.25rem .75rem 1.25rem;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  color: #ffffff;
}
.link--contained:before {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-color: #e6e6ec;
  background-image: -o-linear-gradient(197deg, #ffffff, #e6e6ec);
  background-image: linear-gradient(253deg, #ffffff, #e6e6ec);
  -webkit-border-radius: .25rem;
  border-radius: .25rem;
  opacity: .1;
}
.link--skeep {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.link--skeep__icon {
  margin-right: .325rem;
  margin-bottom: .0625rem;
}
.list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style-type: none;
}
.list:not(.list--horizontal) > * + * {
  margin-top: .9375rem;
}
.list--horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.list--horizontal > * + * {
  margin-left: 1.875rem;
}
.list__item {
  color: #fff;
}
.logo {
  display: inline-block;
  line-height: 1;
}
.logo__description {
  padding-left: 2.9375rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: Metropolis-medium;
  font-size: .6875rem;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.logo__made-by {
  margin-left: .3125rem;
}
.markdown {
  position: relative;
  font-size: .75rem;
  line-height: 2;
  color: #c2c2c7;
}
.markdown__title {
  margin: 0 0 1.5rem;
}
.markdown__box {
  position: relative;
  padding: 1.1875rem 1rem;
  max-height: 16.25rem;
  overflow: hidden;
  background-color: #414459;
  -webkit-border-radius: .25rem;
          border-radius: .25rem;
  -webkit-transition: max-height .25s ease-in;
  -o-transition: max-height .25s ease-in;
  transition: max-height .25s ease-in;
}
.markdown__box::after {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(72, 75, 96, 0)), to(#414459));
  background-image: -o-linear-gradient(top, rgba(72, 75, 96, 0), #414459);
  background-image: linear-gradient(to bottom, rgba(72, 75, 96, 0), #414459);
}
.expanded.markdown__box {
  max-height: 2000px;
}
.expanded.markdown__box::after {
  display: none;
}
.markdown__expand-button {
  position: absolute;
  padding: .9375rem 1.25rem;
  bottom: .5625rem;
  left: 50%;
  font-family: Metropolis-bold;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.markdown__json {
  margin: 0;
  font-family: Menlo;
  font-size: inherit;
  line-height: inherit;
  white-space: pre-wrap;
  color: inherit;
}
.text--green {
  color: #6ec871;
}
.text--no-wrap {
  white-space: nowrap;
}
.navbar {
  display: block;
}
.navbar__link {
  font-family: Metropolis-medium;
  font-size: .875rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  opacity: .4;
  -webkit-transition: opacity .2s ease-in;
  -o-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
}
.navbar__link:hover {
  opacity: .65;
}
.page {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-family: Metropolis-medium, Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 500;
  line-height: 2;
  color: rgba(255, 255, 255, .45);
  background-color: #32344b;
  background-image: -o-linear-gradient(82deg, #1c1d2e, #393c55);
  background-image: linear-gradient(8deg, #1c1d2e, #393c55);
  -webkit-font-smoothing: antialiased;
}
.page::before {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 15rem;
  width: 17.5rem;
  height: 20.625rem;
  content: '';
  background-image: url('/images/page_background.svg');
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-filter: opacity(.25);
          filter: opacity(.25);
}
.page__content {
  padding-top: 1.875rem;
  padding-bottom: 2.5rem;
}
.page__title {
  text-align: center;
}
.page__title--align-left {
  text-align: left;
}
.page__description {
  margin-right: auto;
  margin-bottom: 2.5rem;
  margin-left: auto;
  width: 100%;
  max-width: 25rem;
  text-align: center;
}
.page__form {
  margin-right: auto;
  margin-bottom: 2.5rem;
  margin-left: auto;
  width: 100%;
  max-width: 25rem;
}
.page__form-full {
  margin-bottom: 2.5rem;
}
.page__advantages {
  padding-top: 6rem;
}
.page__skeep-link {
  text-align: center;
}
.page__markdown {
  margin-top: 6rem;
}
.result {
  padding-top: 1.25rem;
}
.result__dates {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.result__dates .row + .row {
  margin-top: 1.25rem;
}
.result__table {
  padding-top: 1.25rem;
}
.result__table .list-table + .list-table {
  margin-top: 2rem;
}
.result__tabs {
  margin: 0 auto;
  padding-top: 2rem;
  max-width: 35.3125rem;
}
.result-date {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.result-date__title {
  font-family: Metropolis-bold;
  font-size: .75rem;
  font-weight: 700;
  line-height: 2.33;
  letter-spacing: .0625rem;
  text-transform: uppercase;
  color: #ffffff;
  opacity: .4;
}
.result-date__value {
  font-size: 1rem;
  line-height: 1.75;
  color: #ffffff;
}
.result-date__link {
  font-size: .875rem;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: opacity .2s ease-in;
  -o-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
}
.result-date__link:hover {
  opacity: .5;
}
.result-date__link-icon {
  margin-left: .315rem;
}
.list-table {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}
.list-table__title {
  font-family: Metropolis-bold;
  font-size: .75rem;
  font-weight: bold;
  line-height: 2.33;
  color: #ffffff;
  border-bottom: .0625rem solid #d8d8d8;
  opacity: .4;
}
.list-table__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: .875rem;
  font-weight: 500;
  line-height: 2;
  color: #ffffff;
}
.list-table__item-title {
  -webkit-flex-basis: 8.4375rem;
  -ms-flex-preferred-size: 8.4375rem;
  flex-basis: 8.4375rem;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.list-table__item-text {
  -webkit-flex-basis: 11.25rem;
  -ms-flex-preferred-size: 11.25rem;
  flex-basis: 11.25rem;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  white-space: normal;
  word-spacing: normal;
  word-break: break-word;
}
.tabs__tablist {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.tabs__tab {
  padding: 1rem 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  font-family: Metropolis-medium;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  color: rgba(255, 255, 255, .4);
  background-color: transparent;
  border: 0;
  border-bottom-width: .125rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  outline: none;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in;
  -webkit-transition-property: color, border-bottom-color;
  -o-transition-property: color, border-bottom-color;
  transition-property: color, border-bottom-color;
}
.tabs__tab:active, .tabs__tab[aria-selected=true] {
  color: #ffffff;
  border-bottom-color: #e1365f;
}
.tabs__panel {
  padding: 1rem 1rem 1.5rem;
  background-color: #414459;
  background-image: -o-linear-gradient(199deg, #484b60, #414459);
  background-image: linear-gradient(251deg, #484b60, #414459);
  -webkit-border-radius: .25rem;
  border-radius: .25rem;
}
.tabs__panel .list-table + .list-table {
  margin-top: 1.5rem;
}
.text {
  font-size: 1rem;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}
.text--small {
  font-size: .875rem;
}
.text--medium {
  font-size: 1.125rem;
}
.text--inline {
  display: inline;
}
.projects {
  margin-bottom: 4.0625rem;
}
.projects__title {
  margin-bottom: 1.875rem;
  line-height: 1.75;
  color: #fff;
}
.projects__row + .projects__row {
  margin-top: 2.5rem;
}
.projects__column {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}
.json {
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  word-break: break-word;
  white-space: normal;
}
@font-face {
  font-family: Metropolis-bold;
  font-weight: 700;
  src: url("/fonts/metropolis-bold.eot");
  src: url("/fonts/metropolis-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/metropolis-bold.woff2") format('woff2'), url("/fonts/metropolis-bold.woff?ver1.0") format("woff"), url("/fonts/metropolis-bold.ttf") format("truetype"), url("/fonts/metropolis-bold.svg#metropolis-bold") format("svg");
}
@font-face {
  font-family: Metropolis-medium;
  font-weight: 500;
  src: url("/fonts/metropolis-medium.eot");
  src: url("/fonts/metropolis-medium.eot?#iefix") format("embedded-opentype"), url("/fonts/metropolis-medium.woff2") format('woff2'), url("/fonts/metropolis-medium.woff?ver1.0") format("woff"), url("/fonts/metropolis-medium.ttf") format("truetype"), url("/fonts/metropolis-medium.svg#metropolis-medium") format("svg");
}
