<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="google" value="notranslate">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="application-name" content="">
    <meta name="msapplication-tooltip" content="">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="theme-color" content="#ffffff">
    <title>getWHOIS</title>
    <%= stylesheet 'app' %>
    <meta name="description" content="">
    <meta name="keywords" content="">
  </head>

  <body class="page">
    <div class="page__header">
      <div class="container">
        <header class="header">
          <div class="row row--align-center">
            <div class="e logo">
              <a class="logo" href="/"><img class="logo__image" src="/images/logo_white.svg" title="getWHOIS" alt="getWHOIS" width="152" height="43"></a>
            </div>
            <div class="header__menu">
              <nav class="navbar">
                <a class="navbar__link" href="#">API Documentation</a>
              </nav>
            </div>
          </div>
        </header>
      </div>
    </div>
    <div class="page__content">
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <div class="page__footer">
      <div class="container">
        <div class="footer">
          <div class="row row--align-center row--justify-space-between">
            <div class="footer__logo">
              <a class="logo" href="/"><img class="logo__image" src="/images/logo_white.svg" title="getWHOIS" alt="getWHOIS" width="152" height="43"></a>
              <div class="logo__description">made by
                <picture class="picture logo__made-by">
                  <source srcset="/images/prospect_one@2x.png 2x, /images/prospect_one.png 1x"><img src="/images/prospect_one.png" alt="Prospect One" title="Prospect One"></picture>
              </div>
            </div>
            <div class="footer__row row row--align-center">
              <div class="text text--inline">Our other projects:</div>
              <picture class="picture footer__partner">
                <source srcset="/images/dnsperf@2x.png 2x, /images/dnsperf.png 1x"><img src="/images/dnsperf.png" alt="DNSPerf" title="DNSPerf"></picture>
              <picture class="picture footer__partner">
                <source srcset="/images/cdnperf@2x.png 2x, /images/cdnperf.png 1x"><img src="/images/cdnperf.png" alt="CDNPerf" title="CDNPerf"></picture>
              <picture class="picture footer__partner">
                <source srcset="/images/jsdelivr@2x.png 2x, /images/jsdelivr.png 1x"><img src="/images/jsdelivr.png" alt="JSDELIVR" title="JSDELIVR"></picture><img class="footer__partner" src="/images/perfops.svg" alt="PerfOps" title="PerfOps"></div>
          </div>
          <div class="footer__copy">
            <div class="text text--gray text--small">Copyright © Prospect One 2018</div>
          </div>
        </div>
      </div>
    </div>
    <%= javascript 'app' %>
  </body>
</html>
