html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

main {
  display: block
}

h1 {
  margin: .67em 0;
  font-size: 2em
}

hr {
  overflow: visible;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0
}

pre {
  font-family: monospace, monospace;
  font-size: 1em
}

a {
  background-color: transparent
}

abbr[ title] {
  text-decoration: underline;
  border-bottom: none
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}

small {
  font-size: 80%
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

img {
  max-width: 100%;
  height: auto;
  border-style: none
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15
}

button,
input {
  overflow: visible
}

button,
select {
  text-transform: none
}

button,
[ type="button"],
[ type="reset"],
[ type="submit"] {
  -webkit-appearance: button
}

button: : -moz-focus-inner,
[ type="button"]::-moz-focus-inner,
[ type="reset"]::-moz-focus-inner,
[ type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none
}

button:-moz-focusring,
[ type="button"]:-moz-focusring,
[ type="reset"]:-moz-focusring,
[ type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  padding: .35em .75em .625em
}

legend {
  padding: 0;
  display: table;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  white-space: normal;
  color: inherit
}

progress {
  vertical-align: baseline
}

textarea {
  overflow: auto
}

[ type="checkbox"],
[ type="radio"] {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box
}

[ type="number"]::-webkit-inner-spin-button,
[ type="number"]::-webkit-outer-spin-button {
  height: auto
}

[ type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield
}

[ type="search"]::-webkit-search-decoration {
  -webkit-appearance: none
}

details {
  display: block
}

summary {
  display: list-item
}

template {
  display: none
}

[ hidden] {
  display: none
}

.advantages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%
}

@media screen and (min-width: 47.875rem) {
  .advantages {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row
  }
}

.advantages__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0px;
          flex: 1 1 0
}

.advantages__item+.advantages__item {
  margin-top: 4rem
}

@media screen and (min-width: 47.875rem) {

  .advantages__item+.advantages__item {
    margin-top: 0
  }
}

@media screen and (min-width: 47.875rem) {
  .advantages__item:first-child {
    padding-right: 1.5625rem
  }

  .advantages__item:last-child {
    padding-left: 1.5625rem
  }
}

@media screen and (min-width: 62.25rem) {
  .advantages__item:first-child {
    padding-right: 3.125rem
  }

  .advantages__item:last-child {
    padding-left: 3.125rem
  }
}

.advantage {
  width: 100%
}

.advantage__icon {
  margin-bottom: 1.875rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

@media screen and (min-width: 62.25rem) {

  .advantage__icon {
    margin-bottom: 2rem
  }
}

.advantage__title {
  margin: 0 0 1.5rem;
  font-family: Metropolis-medium;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.67;
  color: #ffffff
}

.advantage__text {
  margin: 0
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: .9375rem;
  padding-left: .9375rem;
  max-width: 62.5rem
}

@media screen and (min-width: 23.8125rem) {
  .container {
    padding-right: 1.875rem;
    padding-left: 1.875rem
  }
}

@media screen and (min-width: 62.25rem) {
  .container {
    padding-right: .9375rem;
    padding-left: .9375rem
  }
}

.footer {
  padding-top: 2.5rem;
  padding-bottom: 4rem
}

@media screen and (min-width: 62.25rem) {
  .footer {
    padding-top: 3.75rem;
    padding-bottom: 4.625rem
  }
}

.footer__container {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

@media screen and (min-width: 47.875rem) {
  .footer__container {
    padding-right: 1.875rem;
    padding-left: 1.875rem;
  }
}

.footer__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between
}

@media screen and (min-width: 62.25rem) {

  .footer__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row
  }
}

.footer__copy {
  margin-top: 2.9375rem;
  text-align: center
}

.footer__logo {
  margin-top: 4.0625rem;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start
}

@media screen and (min-width: 62.25rem) {

  .footer__logo {
    margin-top: 0;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1
  }
}

.footer__partners {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1
}

@media screen and (min-width: 62.25rem) {

  .footer__partners {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2
  }
}

.search-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%
}

@media screen and (min-width: 30.0625rem) {
  .search-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row
  }
}

.search-form__input {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  height: 3.75rem;
  font-family: Metropolis-medium;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #484762;
  background-color: #fff;
  border: 0;
  -webkit-border-radius: .25rem;
          border-radius: .25rem
}

@media screen and (min-width: 30.0625rem) {

  .search-form__input {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-border-radius: .25rem 0 0 .25rem;
            border-radius: .25rem 0 0 .25rem
  }
}

.search-form__button {
  margin-top: 1rem;
  padding-top: 1.375rem;
  padding-right: 1.125rem;
  padding-bottom: 1.375rem;
  padding-left: 1.125rem;
  font-size: 1rem;
  line-height: 1;
  color: #fff;
  background-color: #e1365f;
  background-image: -o-linear-gradient(198deg, #f76262, #e1365f);
  background-image: linear-gradient(252deg, #f76262, #e1365f);
  border: 0;
  -webkit-border-radius: .25rem;
          border-radius: .25rem
}

@media screen and (min-width: 30.0625rem) {

  .search-form__button {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-border-radius: 0 .25rem .25rem 0;
            border-radius: 0 .25rem .25rem 0
  }
}

.header {
  padding-top: 2.5rem;
  padding-bottom: .625rem
}

@media screen and (min-width: 47.875rem) {
  .header {
    padding-top: 3.75rem;
    padding-bottom: .625rem
  }
}

.header__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center
}

@media screen and (min-width: 47.875rem) {

  .header__container {
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch
  }
}

.header__menu {
  display: none
}

@media screen and (min-width: 47.875rem) {

  .header__menu {
    margin-left: 2.75rem;
    display: block
  }
}

.header__Logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.header--no-indent-bottom {
  padding-bottom: 0
}

.heading {
  font-family: Metropolis-bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff
}

.heading--level-1 {
  margin: 0 0 1rem;
  font-size: 1.5rem;
  font-weight: 700
}

@media screen and (min-width: 47.875rem) {

  .heading--level-1 {
    margin: 1em 0;
    font-size: 2.5rem
  }
}

.heading--level-2 {
  margin: 1em 0;
  font-family: Metropolis-medium;
  font-size: 1.25rem;
  font-weight: 500
}

@media screen and (min-width: 47.875rem) {

  .heading--level-2 {
    font-size: 1.5rem
  }
}

.heading--align-center {
  text-align: center
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.row--align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center
}

.row--justify-space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between
}

@media screen and (min-width: 48.5rem) {
  .row--equal>.column {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0px;
            flex: 1 1 0
  }
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column
}

.link {
  text-decoration: none
}

.link--contained {
  position: relative;
  z-index: 1;
  padding: .8125rem 1.25rem .75rem 1.25rem;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  color: #ffffff
}

.link--contained:before {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-color: #e6e6ec;
  background-image: -o-linear-gradient(197deg, #ffffff, #e6e6ec);
  background-image: linear-gradient(253deg, #ffffff, #e6e6ec);
  -webkit-border-radius: .25rem;
          border-radius: .25rem;
  opacity: .1
}

.link--skeep {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center
}

.link--skeep__icon {
  margin-right: .325rem;
  margin-bottom: .0625rem
}

.list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none
}

.list:not(.list--horizontal)>*+* {
  margin-top: .9375rem
}

.list--horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row
}

.list--horizontal>*+* {
  margin-left: 1.875rem
}

.list__item {
  color: #fff
}

.logo {
  display: inline-block;
  line-height: 1
}

.logo__description {
  padding-left: 2.9375rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: Metropolis-medium;
  font-size: .6875rem;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center
}

.logo__made-by {
  margin-left: .3125rem
}

.markdown {
  position: relative;
  font-size: .75rem;
  line-height: 2;

  color: #c2c2c7
}

@media screen and (min-width: 47.875rem) {
  .markdown {
    font-size: .875rem;
    line-height: 1.71
  }
}

.markdown__title {
  margin-top: 0;
  margin-bottom: 1.5rem
}

@media screen and (min-width: 47.875rem) {

  .markdown__title {
    margin-bottom: 2.5rem
  }
}

.markdown__box {
  position: relative;
  padding: 1.1875rem 1rem;
  overflow: hidden;
  max-height: 16.25rem;
  background-color: #414459;
  background-image: -o-linear-gradient(226deg, #484b60, #414459);
  background-image: linear-gradient(224deg, #484b60, #414459);
  -webkit-border-radius: .25rem;
          border-radius: .25rem;
  -webkit-transition: max-height .25s ease-in;
  -o-transition: max-height .25s ease-in;
  transition: max-height .25s ease-in
}

.markdown__box:after {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(72, 75, 96, 0)), to(#414459));
  background-image: -o-linear-gradient(top, rgba(72, 75, 96, 0), #414459);
  background-image: linear-gradient(to bottom, rgba(72, 75, 96, 0), #414459)
}

@media screen and (min-width: 30.0625rem) {

  .markdown__box {
    max-height: none
  }

  .markdown__box:after {
    display: none
  }
}

@media screen and (min-width: 47.875rem) {

  .markdown__box {
    padding: 1.875rem
  }
}

@media screen and (min-width: 62.25rem) {

  .markdown__box {
    padding: 2.5rem 2.125rem
  }
}

.markdown__box.expanded {
  max-height: 125rem
}

.markdown__box.expanded:after {
  display: none
}

.markdown__json {
  margin: 0;
  font-family: Menlo;
  font-size: inherit;
  line-height: inherit;
  white-space: pre-wrap;
  color: inherit
}

@media screen and (min-width: 47.875rem) {
  .markdown__json+.markdown__json {
    margin-top: 1.375rem
  }
}

.markdown__toggle {
  position: absolute;
  z-index: 1;
  bottom: .5625rem;
  left: 50%;
  padding: .9375rem 1.25rem;
  display: block;
  font-family: Metropolis-bold;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  border: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%)
}

@media screen and (min-width: 30.0625rem) {

  .markdown__toggle {
    display: none
  }
}

.page {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-family: Metropolis-medium, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2;
  color: rgba(255, 255, 255, .45);
  background-color: #32344b;
  background-image: -o-linear-gradient(82deg, #1c1d2e, #393c55);
  background-image: linear-gradient(8deg, #1c1d2e, #393c55);
  background-repeat: no-repeat;
  background-position: 115.5% -7%;
  -webkit-font-smoothing: antialiased
}

@media screen and (min-width: 62.25rem) {
  .page {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(49, 51, 74, 0)), to(#32344b));
    background-image: -o-linear-gradient(top, rgba(49, 51, 74, 0), #32344b);
    background-image: linear-gradient(to bottom, rgba(49, 51, 74, 0), #32344b)
  }
}

.page::before {
  position: absolute;
  z-index: -1;
  top: 15rem;
  left: 50%;
  width: 17.5rem;
  height: 20.625rem;
  content: '';
  background-image: url('/images/page_background.svg');
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-filter: opacity(.25);
          filter: opacity(.25)
}

@media screen and (min-width: 47.875rem) {

  .page::before {
    top: -7.8125rem;
    right: 0;
    left: auto;
    width: 41.125rem;
    height: 100%;
    background-size: auto;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-filter: opacity(.45);
            filter: opacity(.45)
  }
}

@media screen and (min-width: 62.25rem) {

  .page::before {
    -webkit-filter: opacity(.75);
            filter: opacity(.75)
  }
}

.page__content {
  padding-top: 1.875rem;
  padding-bottom: 2.5rem
}

@media screen and (min-width: 62.25rem) {

  .page__content {
    padding-top: 3.125rem;
    padding-bottom: 3.75rem
  }
}

.page__description {
  width: 100%;
  text-align: center
}

@media screen and (min-width: 47.875rem) {

  .page__description {
    max-width: 31.25rem;
    text-align: left
  }
}

.page__form {
  margin-top: 2.5rem;
  margin-right: auto;
  margin-bottom: 2.5rem;
  margin-left: auto;
  width: 100%;
  max-width: 31.25rem
}

@media screen and (min-width: 47.875rem) {

  .page__form {
    margin-bottom: 3.75rem
  }
}

@media screen and (min-width: 62.25rem) {

  .page__form {
    margin-bottom: 13rem;
    margin-left: 0
  }
}

.page__form-full {
  margin-bottom: 2.5rem
}

.page__advantages {
  margin-top: 6rem
}

.page__markdown {
  margin-top: 4rem;
  padding-top: 2rem
}

.page__title {
  text-align: center
}

@media screen and (min-width: 47.875rem) {

  .page__title {
    text-align: left
  }
}

.page__title--align-left {
  text-align: left
}

.page__skeep-link {
  text-align: center
}

@media screen and (min-width: 47.875rem) {

  .page__skeep-link {
    text-align: left
  }
}

.color--green {
  color: #6ec871
}

.navbar {
  display: block
}

.navbar__link {
  font-family: Metropolis-medium;
  font-size: .875rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  opacity: .4;
  -webkit-transition: opacity .2s ease-in;
  -o-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in
}

.navbar__link:hover {
  opacity: .65
}

.partners {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.75;
  color: #fff;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center
}

@media screen and (min-width: 62.25rem) {
  .partners {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    line-height: inherit;
    color: inherit
  }
}

.partners__title {
  margin-bottom: 1.875rem;
  display: block;
  width: 100%;
  text-align: center
}

@media screen and (min-width: 30.0625rem) {
  .partners__title {
    width: auto;
  }
}

@media screen and (min-width: 62.25rem) {
  .partners__title {
    margin-bottom: 0;
  }
}

.partners__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch
}

@media screen and (min-width: 62.25rem) {

  .partners__list {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap
  }
}

.partners__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start
}

.partners__item:nth-last-child(1),
.partners__item:nth-last-child(2) {
  margin-top: 2.5rem
}

.partners__item:nth-child(even) {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (min-width: 62.25rem) {
  .partners__item:nth-last-child(1),
  .partners__item:nth-last-child(2) {
    margin-top: 0
  }
}

@media screen and (min-width: 30.0625rem) {
  .partners__item {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 62.25rem) {
  .partners__item {
    margin-left: 2.125rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.partners__image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.result {
  padding-top: 1.25rem
}

@media screen and (min-width: 47.875rem) {
  .result {
    padding-top: 0
  }
}

.result__dates {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap
}

@media screen and (min-width: 47.875rem) {

  .result__dates {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap
  }
}

.result__dates-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center
}

.result__dates-item:nth-last-child(1),
.result__dates-item:nth-last-child(2) {
  margin-top: 1.25rem
}

@media screen and (min-width: 30.0625rem) {

  .result__dates-item:nth-last-child(1):nth-last-child(2),
  .result__dates-item:nth-last-child(2):nth-last-child(2) {
    margin-top: 0
  }
}

@media screen and (min-width: 37.5rem) {

  .result__dates-item:nth-last-child(1):nth-last-child(1),
  .result__dates-item:nth-last-child(2):nth-last-child(1) {
    margin-top: 0
  }
}

@media screen and (min-width: 30.0625rem) {

  .result__dates-item {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%
  }

  .result__dates-item:first-child {
    padding-left: 0
  }

  .result__dates-item:last-child {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%
  }
}

@media screen and (min-width: 37.5rem) {

  .result__dates-item {
    padding: 0 1.25rem;
    -webkit-flex-shrink: unset;
        -ms-flex-negative: unset;
            flex-shrink: unset;
    -webkit-box-flex: unset;
    -webkit-flex-grow: unset;
        -ms-flex-positive: unset;
            flex-grow: unset;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto
  }

  .result__dates-item:last-child {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto
  }
}

.result__table {
  padding-top: 1.25rem;
}

.result__table .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column
}

.result__table .row+.row {
  margin-top: 2rem
}

.result__table .column+.column {
  margin-top: 2rem
}

@media screen and (min-width: 47.875rem) {

  .result__table {
    padding-top: 2.5rem
  }

  .result__table .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row
  }

  .result__table .row+.row {
    margin-top: 2.5rem
  }

  .result__table .column:first-child {
    padding-right: 3.125rem
  }

  .result__table .column:last-child {
    padding-left: 3.125rem
  }

  .result__table .column+.column {
    margin-top: 0
  }
}

.result__tabs {
  margin: 0 -.9375rem;
  padding-top: 2rem
}

@media screen and (min-width: 23.8125rem) {

  .result__tabs {
    margin-right: -1.875rem;
    margin-left: -1.875rem
  }
}

@media screen and (min-width: 62.25rem) {

  .result__tabs {
    padding-top: 2.5rem
  }
}

.result-date {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center
}

@media screen and (min-width: 47.875rem) {

  .result-date {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center
  }
}

.result-date:not(:last-child):after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: .0625rem;
  content: '';
  background-color: #e6e6ec;
  background-image: -o-linear-gradient(269deg, #ffffff, #e6e6ec);
  background-image: linear-gradient(181deg, #ffffff, #e6e6ec);
  -webkit-border-radius: .25rem;
          border-radius: .25rem;
  opacity: .2
}

.result-date__title {
  font-family: Metropolis-bold;
  font-size: .75rem;
  font-weight: 700;
  line-height: 2.33;
  letter-spacing: .0625rem;
  text-transform: uppercase;
  color: #ffffff;
  opacity: .4
}

.result-date__value {
  font-size: 1rem;
  line-height: 1.75;
  color: #ffffff
}

.result-date__link {
  font-size: .875rem;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: opacity .2s ease-in;
  -o-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in
}

.result-date__link:hover {
  opacity: .5
}

.result-date__link-icon {
  margin-left: .315rem
}

.list-table {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none
}

.list-table__title {
  margin: 1rem 0;
  font-family: Metropolis-bold;
  font-size: .75rem;
  font-weight: bold;
  line-height: 2.33;
  color: #ffffff;
  border-bottom: .0625rem solid #d8d8d8;
  opacity: .4
}

.list-table__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: .875rem;
  font-weight: 500;
  line-height: 2;
  color: #ffffff
}

.list-table__item-title {
  -webkit-flex-basis: 6.25rem;
      -ms-flex-preferred-size: 6.25rem;
          flex-basis: 6.25rem;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0
}

@media screen and (min-width: 47.875rem) {
  .list-table__item-title {
    -webkit-flex-basis: 8.4375rem;
    -ms-flex-preferred-size: 8.4375rem;
    flex-basis: 8.4375rem;
  }
}

.list-table__item-text {
  -webkit-flex-basis: 11.25rem;
      -ms-flex-preferred-size: 11.25rem;
          flex-basis: 11.25rem;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  white-space: normal;
  word-spacing: normal;
  word-break: break-word
}

.tabs__tablist {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

@media screen and (min-width: 47.875rem) {

  .tabs__tablist {
    padding: 0 2.5rem
  }
}

.tabs__tab {
  padding: 1rem 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  font-family: Metropolis-medium;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  color: rgba(255, 255, 255, .4);
  background-color: transparent;
  border: 0;
  border-bottom-width: .125rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  outline: none;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in;
  -webkit-transition-property: color, border-bottom-color;
  -o-transition-property: color, border-bottom-color;
  transition-property: color, border-bottom-color
}

.tabs__tab:active,
.tabs__tab[ aria-selected=true] {
  color: #ffffff;
  border-bottom-color: #e1365f
}

@media screen and (min-width: 30.0625rem) {

  .tabs__tab {
    width: 12.5rem
  }
}

@media screen and (min-width: 62.25rem) {

  .tabs__tab {
    -webkit-flex-shrink: unset;
        -ms-flex-negative: unset;
            flex-shrink: unset;
    -webkit-box-flex: unset;
    -webkit-flex-grow: unset;
        -ms-flex-positive: unset;
            flex-grow: unset;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto
  }
}

.tabs__panel {
  padding: 1rem 1rem 1.5rem;
  font-size: .75rem;
  background-color: #414459;
  background-image: -o-linear-gradient(199deg, #484b60, #414459);
  background-image: linear-gradient(251deg, #484b60, #414459);
  -webkit-border-radius: .25rem;
          border-radius: .25rem
}

@media screen and (min-width: 47.875rem) {
  .tabs__panel {
    font-size: 1rem;
  }
}

.tabs__panel .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column
}

@media screen and (min-width: 62.25rem) {

  .tabs__panel {
    padding: 2.5rem
  }

  .tabs__panel .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row
  }

  .tabs__panel .column {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0px;
            flex: 1 1 0
  }

  .tabs__panel .column:first-child {
    padding-right: 3.125rem
  }

  .tabs__panel .column:last-child {
    padding-left: 3.125rem
  }
}

.text {
  font-size: 1rem;
  font-weight: inherit;
  line-height: inherit;
  color: inherit
}

.text--small {
  font-size: .875rem
}

.text--medium {
  font-size: 1
}

@media screen and (min-width: 62.25rem) {

  .text--medium {
    font-size: 1.125rem
  }
}

.text--inline {
  display: inline
}

@font-face {
  font-family: Metropolis-bold;
  font-weight: 700;
  src: url("/fonts/metropolis-bold.eot");
  src: url("/fonts/metropolis-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/metropolis-bold.woff2") format('woff2'), url("/fonts/metropolis-bold.woff?ver1.0") format("woff"), url("/fonts/metropolis-bold.ttf") format("truetype"), url("/fonts/metropolis-bold.svg#metropolis-bold") format("svg");
}

@font-face {
  font-family: Metropolis-medium;
  font-weight: 500;
  src: url("/fonts/metropolis-medium.eot");
  src: url("/fonts/metropolis-medium.eot?#iefix") format("embedded-opentype"), url("/fonts/metropolis-medium.woff2") format('woff2'), url("/fonts/metropolis-medium.woff?ver1.0") format("woff"), url("/fonts/metropolis-medium.ttf") format("truetype"), url("/fonts/metropolis-medium.svg#metropolis-medium") format("svg");
}